{
	"secrets": ["secret_change_for_pwgen_generated_one_with_at_least 255 chars"],
	"bcrypt_pass_stats": "change_for_bcrypted_password",
	"db": {
		"database": "example"
	},
    "base_url": "https://burguillos.info",
    "search_backend": "http://localhost:3303",
    "search_index": "burguillos_info",
    "geoip_database": "/usr/share/GeoLite2-City_20230804/GeoLite2-City.mmdb",
    "onion_base_url": "http://example.onion";
    "listen": "https:localhost:3555"
}
