$background: url(../img/parque_patos.jpg);
$background-page: #FEFEFA;
$color: #2f4f4f;
$color-page: #666362;
$background_div: blueviolet;
$color_div: #f2eb8c;
$background-secondary: #635283;
$color-secondary: #8eea6d;
$accent-secondary: #fde68f;
$primary-secondary: #590e11;

html {
    height: 100%;
}

body {
	p,h1,h2,h3,h4,a {
		font-family: 'arial';
	}
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-height: 100%;
	width: 100%;
	height: 100%;
	div.site-wrapper {
		display: table;
	        width: 100%;
		height: 100%; /* For at least Firefox */
		min-height: 100%;
		color: $color;
		background: $background;
		filter: blur(10px);
		background-size: cover;
		overflow: hidden;
	}
	div.page-contents {
		position: absolute;
		position: fixed;
		overflow-y: scroll;
		z-index: 2;
		background: $background-page;
		color: $color-page;
		top: 0%;
		left: 0%;
		height: 100%;
		width: 100%;
		table {
			color: $background_div;
			background: $color_div;
			border: 3px solid $background_div;
			border-collapse: collapse;
		}
		th,td {
			border: 3px solid $background_div;
			border-collapse: collapse;
			padding-right: 10px;
			margin: 0;
		}
		th,td {
			font-size: 15px;
		}
		b,p,li {
			font-size: 40px;
		}
		h3 {
			font-size: 47px;
		}
		h2 {
			font-size: 53px;
		}
		h1 {
			font-size: 60px;
		}
		div.description {
			div.suscribirse-rss {
				img {
					max-height: 300px;
				}
			}
			padding: 1%;
			margin-left: 3%;
			margin-right: 3%;
			margin-bottom: 1%;
			margin-top: 10%;
			div.articles {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				a {
					width: 100%;
					display:block;
					text-decoration: none;
					text-overflow: ellipsis;
					margin-bottom: 10px;
					article {
						width: 90%;
						b,p {
							font-size: 38px;
						}
						h4 {
							font-size: 44px;
						}
						h3 {
							font-size: 47px;
						}
						h2 {
							font-size: 53px;
						}
						h1 {
							font-size: 60px;
						}
						border-radius: 20px;
						padding: 5%;;
						padding-top: 1%;
						background: $color_div;
						color: $background_div;
						border: 3px solid $background_div;
						&:hover {
							background: $background_div;
							color: $color_div;
							border: 3px solid $color_div;
						}
						p.date {
							font-size: 20px;
							text-align: right;
						}
						p.author {
							font-size: 30px;
							text-align: right;
						}
					}
				}
			}
			a.suscribe-category-rss {
				background: $background_div;
				width: 40px;
				height: 40px;
				padding: 10px;
				border-radius: 5px;
				display: inline-block;
				img {
					width: 40px;
					height: 40px;
				}
			}
		}
		nav > a > img.open-menu-icon {
			width: 30px;
			height: 30px;
		}
		nav > a > img {
			vertical-align: middle;
			width: 26px;
			height: 30px;
		}
		nav {
			overflow: auto;
			display: block;
			font-size: 35px;
			margin: 0px;
			a.go-to-index img {
				margin-top: 5%;
			}
			a {
				display: inline-block;
				height: 100%;
				text-decoration: none;
				background: $background_div;
				color: $color_div;
				padding: 10px;
				margin: 0;
				&.selected {
					background: $color_div;
					color: $background_div; 
				}
				&:hover {
					background: $color_div;
					color: $background_div; 
				}
			}
			a.menu-expand {
				position: relative;
				float: right;
			}
		}

		nav.mobile-shortcuts {
			position: fixed;
			background: $background_div;
			width: 100%;
		}
		nav.desktop {
			display: none;
		
		}
		nav.mobile-foldable {
			display: none;
			background: $background_div;
			color: $color_div;
			a {
				background: $color_div;
				color: $background_div;
				display: block;
			}
		}
		nav.mobile-foldable.show {
			display: block;
		}

		h1 {
			text-align: center;
			font-size: 50px;
		}
		
		div.footer {
			p,h1,h2,h3,h4,a {
				font-size: initial;
			}
			a.suscribe-category-rss {
				padding: 7px;
			}
			a.suscribe-category-rss,a.suscribe-category-rss > img {
				width: 20px;
				height: 20px;
			}
		}
	}

}

@media (min-width: 720px) {
	body {
		div.page-contents {
			th,td {
				font-size: 40px;
			}
			nav.mobile-foldable,nav.mobile-foldable.show {
				display: none;
			}
			div.description {
				margin-left: 10%;
				margin-right: 10%;
				margin-top: auto;
			}
			nav.desktop {
				display: block;
				height: auto;
			}
			nav.mobile-shortcuts {
				display: none;
			}
			top: 2%;
			left: 5%;
			height: 96%;
			width: 90%;
		}
	}
}

@media (min-width: 1222px) {
	body {
		div.page-contents {
			div.description {
				margin-top: auto;
				div.articles {
					a {
						width: 49%;
						margin-left: 1%;
					}
				}
			}
		}
	}
}
