html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  height: 100%; }
  body span.round-center {
    background: black;
    color: white;
    line-height: 100%;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    border-radius: 0.3em;
    height: 0.7em;
    font-size: 0.7em;
    padding: 0.3em;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 0.15em; }
  body div.search-overlay {
    overflow-y: scroll;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 3;
    top: 0;
    flex-direction: column; }
    body div.search-overlay.active {
      display: flex; }
    body div.search-overlay div.search-results {
      margin: 7px; }
      body div.search-overlay div.search-results img {
        width: 75px; }
      body div.search-overlay div.search-results div.search-result div.row-title-url-image {
        display: flex;
        flex-direction: row; }
        body div.search-overlay div.search-results div.search-result div.row-title-url-image img {
          margin: 10px; }
    body div.search-overlay div.bounding-search-bar {
      margin: 7px;
      width: calc(100% - 20px);
      border-radius: 10px;
      height: 60px;
      display: flex; }
      body div.search-overlay div.bounding-search-bar div.search {
        width: calc(100% - 60px);
        height: 60px;
        margin-left: 0px;
        margin-right: 0px; }
      body div.search-overlay div.bounding-search-bar a.up, body div.search-overlay div.bounding-search-bar a.down {
        display: none; }
      body div.search-overlay div.bounding-search-bar a.exit-search {
        width: 60px;
        background: whitesmoke;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center; }
        body div.search-overlay div.bounding-search-bar a.exit-search img {
          width: 60%; }
  body div.search {
    background: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    display: flex; }
    body div.search a.search-icon {
      height: calc(100% - 28px);
      align-self: center;
      margin: 7px;
      display: flex;
      background: aliceblue;
      align-items: center;
      padding: 7px;
      border-radius: 10px;
      border: solid gray 1px;
      aspect-ratio: 1 / 1;
      width: auto; }
      body div.search a.search-icon img {
        height: 80%;
        aspect-ratio: 1 / 1; }
    body div.search div.fake-text-box {
      width: calc(100% - 60px);
      display: flex;
      align-items: center; }
      body div.search div.fake-text-box input[type="text"] {
        font-size: 30px;
        width: 100%;
        height: 70%;
        background: none;
        border: none;
        outline: none; }
  body p, body h1, body h2, body h3, body h4, body a {
    font-family: 'arial'; }
  body *.android {
    display: none; }
  body div.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    color: #2f4f4f;
    background: antiquewhite;
    filter: blur(10px);
    background-size: cover;
    overflow: hidden; }
  body div.carousel {
    position: fixed;
    top: 80%;
    height: calc(20% - 6px);
    width: calc(100% - 6px);
    border: solid 3px black; }
    body div.carousel a {
      font-size: 13px;
      background: #f2eb8c;
      color: blueviolet;
      display: flex;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      text-decoration: none; }
      body div.carousel a:hover, body div.carousel a:focus {
        background: blueviolet;
        color: #f2eb8c; }
    body div.carousel div.promoted-tag, body div.carousel h3 {
      margin: 0;
      margin-right: 5px; }
    body div.carousel img {
      margin: 10px;
      height: calc(100% - 20px);
      border: solid 1px black;
      background: white; }
  body div.none {
    display: none; }
  body div.complete-container {
    position: fixed;
    z-index: 2;
    color: #666362;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%; }
  body div.page-contents.no-carousel {
    height: calc(100% - 60px); }
  body nav {
    overflow: auto;
    display: block;
    font-size: 25px;
    margin: 0px; }
    body nav a {
      padding-left: 10px;
      padding-right: 10px;
      height: 100%;
      text-decoration: none;
      color: #f2eb8c;
      margin: 0;
      background: blueviolet; }
      body nav a:hover, body nav a:focus {
        background: #f2eb8c;
        color: blueviolet; }
      body nav a.selected {
        background: #FEFEFA;
        color: blueviolet;
        border-right: 1px solid blueviolet; }
  body nav.desktop {
    display: none; }
    body nav.desktop a {
      vertical-align: middle; }
    body nav.desktop a.search-icon {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      body nav.desktop a.search-icon img {
        background: aliceblue;
        border-radius: 10px;
        padding: 10%;
        width: 60%;
        height: 60%; }
  body div.transparent-fullscreen-hide {
    position: fixed;
    background: black;
    left: 0;
    width: 100%;
    opacity: 40%;
    top: 60px;
    height: calc(100% - 60px);
    z-index: 250;
    display: none; }
    body div.transparent-fullscreen-hide.show {
      display: block; }
  body nav.mobile-foldable {
    position: fixed;
    left: 100%;
    width: 70%;
    top: 60px;
    height: calc(100% - 60px);
    z-index: 500;
    transition: left 0.5s ease-in;
    background: #F5F5DC; }
    body nav.mobile-foldable > a:first-child {
      margin-top: 30px; }
    body nav.mobile-foldable a {
      display: block;
      font-size: 1.1em;
      height: auto;
      padding-left: auto;
      padding-right: auto;
      color: black;
      border: 1px solid black;
      background: #dcdcf5;
      margin-top: 10px;
      padding: 10px;
      margin-left: 10px;
      border-radius: 20px;
      width: calc(100% - 20px - 20px - 2px); }
    body nav.mobile-foldable div.child-categories-mobile a {
      width: calc(100% - 50px - 20px);
      margin-left: 40px;
      font-size: 1em; }
  body nav.mobile-foldable.show {
    left: 30%; }
  body nav.mobile-shortcuts > a {
    display: flex;
    align-items: center;
    justify-content: center; }
    body nav.mobile-shortcuts > a.active {
      background: #F5F5DC;
      color: #dcdcf5; }
  body a.menu-expand {
    padding-bottom: 9px; }
    body a.menu-expand .open-menu-icon-hover {
      display: none; }
    body a.menu-expand:hover .open-menu-icon-hover, body a.menu-expand:focus .open-menu-icon-hover, body a.menu-expand.active .open-menu-icon-hover {
      display: block; }
    body a.menu-expand:hover .open-menu-icon, body a.menu-expand:focus .open-menu-icon, body a.menu-expand.active .open-menu-icon {
      display: none; }
  body nav > a.menu-expand > img {
    width: 30px;
    height: 30px; }
  body nav > a > img.index-image-menu {
    vertical-align: middle;
    width: 40px;
    height: 40px; }
  body nav > a > img.index-image-menu, body div.burguillos-logo-container > img {
    transition-property: transform;
    transition-duration: 2s;
    transition-delay: 2s; }
  body nav > a:hover > img.index-image-menu,
  body div.burguillos-logo-container.active > img {
    transform: rotate(-1.5707963268rad); }
  body div.search-in-page {
    display: none;
    position: fixed;
    top: 60px;
    height: 60px;
    width: 100%;
    align-items: center;
    background: blueviolet;
    z-index: 3; }
    body div.search-in-page a.up, body div.search-in-page a.down {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 28px);
      align-self: center;
      margin: 7px;
      display: flex;
      background: aliceblue;
      align-items: center;
      padding: 7px;
      border-radius: 10px;
      border: solid gray 1px;
      aspect-ratio: 1/1; }
      body div.search-in-page a.up img, body div.search-in-page a.down img {
        height: 80%; }
    body div.search-in-page span {
      color: whitesmoke;
      font-size: 25px; }
    body div.search-in-page.active {
      display: flex; }
  body nav.mobile-shortcuts {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background: blueviolet;
    height: 60px;
    top: 0%; }
    body nav.mobile-shortcuts a {
      height: 100%;
      width: 16.6666666667%;
      padding-left: 0;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0; }
    body nav.mobile-shortcuts div.search {
      width: calc(100% * 4 / 6 - 20px);
      height: 80%;
      border-radius: 10px; }
  body div.page-contents {
    background: #FEFEFA;
    position: fixed;
    top: 60px;
    height: calc(80% - 60px);
    width: 100%;
    overflow-y: scroll; }
    body div.page-contents div.child-categories-mobile a {
      padding-left: 2.5rem; }
    body div.page-contents img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    body div.page-contents table {
      color: blueviolet;
      background: #f2eb8c;
      border: 3px solid blueviolet;
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed; }
      body div.page-contents table tr:hover {
        background: blueviolet;
        color: #f2eb8c; }
        body div.page-contents table tr:hover th, body div.page-contents table tr:hover td {
          border: 3px solid #f2eb8c; }
      body div.page-contents table td, body div.page-contents table th {
        font-size: 12px; }
    body div.page-contents th, body div.page-contents td {
      border: 3px solid blueviolet;
      border-collapse: collapse;
      padding-right: 10px;
      margin: 0; }
    body div.page-contents div.description {
      word-wrap: break-word;
      padding: 1%;
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 1%; }
      body div.page-contents div.description input {
        display: block; }
      body div.page-contents div.description div.suscribirse-rss img {
        max-height: 300px; }
      body div.page-contents div.description div.articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        body div.page-contents div.description div.articles div.image-container {
          margin-left: 2.5%;
          margin-top: 10px;
          height: 95%;
          width: 95%;
          display: flex;
          min-height: 130px;
          justify-content: center;
          align-items: center; }
          body div.page-contents div.description div.articles div.image-container img {
            background: white;
            max-height: 100%;
            max-width: 100%;
            border: solid 1px black; }
        body div.page-contents div.description div.articles a {
          min-height: 90%;
          width: 100%;
          display: block;
          text-decoration: none;
          text-overflow: ellipsis;
          margin-bottom: 30px; }
          body div.page-contents div.description div.articles a:focus article, body div.page-contents div.description div.articles a:hover article {
            background: blueviolet;
            color: #f2eb8c; }
          body div.page-contents div.description div.articles a article {
            word-wrap: break-word;
            width: 90%;
            height: 90%;
            padding: 5%;
            padding-top: 1%;
            background: #f2eb8c;
            color: blueviolet;
            box-shadow: 8px 8px 1px 0px #8ddfd6;
            border: 3px solid black; }
            body div.page-contents div.description div.articles a article p, body div.page-contents div.description div.articles a article h4, body div.page-contents div.description div.articles a article h3, body div.page-contents div.description div.articles a article h2 {
              margin: 0px; }
            body div.page-contents div.description div.articles a article p {
              font-size: 0.9rem; }
            body div.page-contents div.description div.articles a article div.article-up-part {
              height: 12em; }
            body div.page-contents div.description div.articles a article div.article-down-part {
              margin-top: 2em;
              height: 9em;
              display: flex;
              align-items: end;
              padding-bottom: 2em; }
            body div.page-contents div.description div.articles a article:hover {
              background: blueviolet;
              color: #f2eb8c; }
            body div.page-contents div.description div.articles a article p.date {
              text-align: right; }
            body div.page-contents div.description div.articles a article p.author {
              text-align: right; }
      body div.page-contents div.description a.suscribe-category-rss {
        background: blueviolet;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        display: inline-block; }
        body div.page-contents div.description a.suscribe-category-rss img {
          width: 40px;
          height: 40px; }
    body div.page-contents div.open-browser-container {
      display: flex;
      justify-content: start;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background: #f2eb8c;
      color: blueviolet; }
      body div.page-contents div.open-browser-container a.open-in-browser {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px);
        align-items: center;
        margin-left: 10px;
        margin-right: 10px; }
        body div.page-contents div.open-browser-container a.open-in-browser img {
          display: block;
          height: 2rem;
          width: 2rem;
          margin-right: 0px;
          margin-left: 0px; }
        body div.page-contents div.open-browser-container a.open-in-browser span {
          display: block; }
    body div.page-contents div.open-browser-container.android {
      display: none; }
    body div.page-contents div.easter-egg {
      display: flex;
      justify-content: center; }
    body div.page-contents div.burguillos-logo-container.active {
      border: solid 1px black;
      border-radius: 50%;
      filter: invert(1); }
    body div.page-contents div.burguillos-logo-container {
      padding: 40px;
      width: 120px; }
    body div.page-contents h1 {
      text-align: center; }
    body div.page-contents div.footer p, body div.page-contents div.footer h1, body div.page-contents div.footer h2, body div.page-contents div.footer h3, body div.page-contents div.footer h4, body div.page-contents div.footer a {
      font-size: initial; }
    body div.page-contents div.footer a.suscribe-category-rss {
      padding: 7px; }
    body div.page-contents div.footer a.suscribe-category-rss, body div.page-contents div.footer a.suscribe-category-rss > img {
      width: 20px;
      height: 20px; }

@media (min-width: 450px) {
  body div.page-contents table th, body div.page-contents table td {
    font-size: 20px; } }

@media (min-width: 694px) {
  body div.carousel a {
    font-size: 20px; }
  body div.carousel h3 {
    font-size: 25px; }
  body div.page-contents div.description div.articles a {
    width: 45%;
    margin-left: 5%; }
    body div.page-contents div.description div.articles a:nth-child(2n+1) {
      margin-left: 0%; }
  body div.page-contents img {
    max-width: 694px; } }

@media (min-width: 1100px) {
  body nav.mobile-foldable, body nav.mobile-foldable.show {
    display: none; }
  body nav.mobile-shortcuts {
    display: none; }
  body div.search-in-page.active {
    display: none; }
  body div.page-contents {
    top: 0%;
    left: 5%;
    height: 80%;
    width: 90%;
    border: solid 1px black; }
    body div.page-contents div.description.open-browser-container {
      margin-left: 0;
      margin-right: 0; }
    body div.page-contents div.description {
      margin-left: 10%;
      margin-right: 10%; }
    body div.page-contents nav.desktop {
      display: block;
      height: auto;
      height: 60px; }
      body div.page-contents nav.desktop a {
        display: table-cell;
        height: 60px; }
        body div.page-contents nav.desktop a img.index-image-menu {
          height: 40px;
          width: 40px; }
  body div.page-contents.no-carousel {
    height: 100%; } }

@media (min-width: 1333px) {
  body div.page-contents div.description div.articles a {
    width: 30%;
    margin-left: 3%; }
    body div.page-contents div.description div.articles a:nth-child(2n+1) {
      margin-left: 3%; }
    body div.page-contents div.description div.articles a:nth-child(3n+1) {
      margin-left: 0%; } }

@media (max-width: 200px) {
  body {
    font-size: 20px; } }

@media (max-height: 400px) {
  body div.carousel {
    height: 120px;
    top: calc(100% - 120px); }
  body div.page-contents {
    height: calc(100% - 60px - 120px); } }
