html {
  height: 100%;
  touch-action: none; }

#url-copy {
  width: 0;
  height: 0;
  opacity: 0; }

body nav.mobile-shortcuts div.search div.fake-text-box input[type="text"] {
  position: absolute;
  top: 47%;
  transform: translateY(-50%); }

body nav.mobile-shortcuts div.search a.search-icon {
  margin-top: 0px; }

a.brand {
  text-decoration: none;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2em;
  width: fit-content;
  height: fit-content;
  margin-left: 5px; }
  a.brand img {
    height: 0.8em;
    width: fit-content;
    aspect-ratio: 1 / 1; }

body.aliexpress-redirection {
  background: azure; }

div.warning-aliexpress {
  display: block;
  overflow: scroll;
  background: white;
  width: calc(90% - 100px);
  border: solid 3px black;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 80%;
  padding: 50px;
  max-width: 874px; }
  div.warning-aliexpress h1 {
    margin-top: 10px;
    text-align: center; }
  div.warning-aliexpress div.buttons {
    width: 50%;
    max-width: 409px;
    min-width: 250px;
    margin-left: 50%;
    transform: translateX(-50%); }
    div.warning-aliexpress div.buttons img {
      width: 100%; }
    div.warning-aliexpress div.buttons a {
      font-size: 0.8em;
      display: inline-block;
      margin-top: 20px;
      border-radius: 10px;
      padding: 10px;
      border: solid 3px black;
      text-decoration: none;
      font-weight: bold; }
      div.warning-aliexpress div.buttons a.buy {
        color: #5C25A0;
        background: #a9d9ab;
        border-color: transparent; }
      div.warning-aliexpress div.buttons a.back {
        color: #732EC8;
        background: #ff958c;
        border-color: transparent; }

div.tooltip-search-promo::after {
  content: " ";
  position: absolute;
  top: calc(100% - 3px);
  left: 50%;
  transform: translateX(-50%);
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: #390384 transparent transparent transparent;
  opacity: 80%; }

div.tooltip-search-promo.hidden {
  display: none; }
  div.tooltip-search-promo.hidden::after {
    display: none; }

div.tooltip-search-promo {
  background-color: #390384;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 115%;
  transform: translateX(-50%);
  opacity: 80%; }
  div.tooltip-search-promo p.exit {
    display: block;
    position: absolute;
    top: calc(0% - 5px);
    left: calc(100% - 15px);
    transform: translatex(-50%); }

div.open-browser-container {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background: #f2eb8c;
  color: blueviolet; }
  div.open-browser-container a.open-in-browser {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    align-items: center;
    margin-left: 10px;
    margin-right: 10px; }
    div.open-browser-container a.open-in-browser img {
      display: block;
      height: 2rem;
      width: 2rem;
      margin-right: 0px;
      margin-left: 0px; }
    div.open-browser-container a.open-in-browser span {
      display: block; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  height: 100%; }
  body summary h2,
  body summary h3,
  body summary h4,
  body summary h5 {
    display: inline; }
  body converse-muc-sidebar {
    display: none !important; }
  body div.converse-container {
    width: 100%;
    height: 400px;
    margin-left: 0px; }
  body div.page-contents div.footer p.attribution {
    font-size: 0.8em; }
    body div.page-contents div.footer p.attribution a {
      font-size: 0.8em; }
  body span.round-center {
    background: blueviolet;
    color: #fefefa;
    line-height: 100%;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    border-radius: 0.3em;
    height: 0.7em;
    font-size: 0.7em;
    padding: 0.3em;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 0.15em; }
  body div.tutorial-overlay-step-1 {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.5);
    top: 0%;
    z-index: 999; }
    body div.tutorial-overlay-step-1 > .explanation {
      position: absolute;
      left: 10px;
      color: aquamarine;
      background: rgba(100, 100, 100, 0.5);
      width: 230px;
      text-align: center;
      border-radius: 10px;
      border: solid 3px black;
      font-size: 30px;
      top: calc(100% - 80px - 203px - 90px); }
    body div.tutorial-overlay-step-1 > .arrow {
      position: absolute;
      left: 90px;
      top: calc(100% - 80px - 203px);
      display: block; }
    body div.tutorial-overlay-step-1.hidden {
      display: none; }
  body div.search-results > div.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #2160c4;
    border: solid #9dc1fa 0.3rem;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: calc(100% - 20px - 0.6rem);
    padding: 10px; }
  body div.search-overlay.default div.search-results {
    height: calc(100% - 80px - 37px); }
  body div.search-overlay {
    overflow-y: scroll;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: white;
    z-index: 3;
    top: 0;
    flex-direction: column; }
    body div.search-overlay div.search-results {
      height: calc(100% - 80px);
      overflow-y: scroll;
      margin: 7px; }
      body div.search-overlay div.search-results img {
        width: 75px;
        height: fit-content; }
      body div.search-overlay div.search-results div.search-result div.row-title-url-image {
        display: flex;
        flex-direction: row;
        overflow: hidden; }
        body div.search-overlay div.search-results div.search-result div.row-title-url-image img {
          aspect-ratio: 1 / 1;
          margin: 10px; }
      body div.search-overlay div.search-results div.search-result a.search-button-buy-now {
        display: block;
        margin: 30px;
        margin-left: 30px;
        margin-left: 10px;
        padding: 20px;
        border-radius: 10px;
        background: #717ab9;
        color: white;
        font-weight: bold;
        text-decoration: none; }
      body div.search-overlay div.search-results div.search-result p.product-vendor {
        font-size: 10px;
        color: cornflowerblue; }
      body div.search-overlay div.search-results div.search-result div.search-result-content {
        background: aliceblue;
        width: fit-content;
        padding: 20px;
        margin-left: 90px;
        margin-right: 20px; }
        body div.search-overlay div.search-results div.search-result div.search-result-content a.expand {
          color: white;
          background: #717ab9;
          text-decoration: none;
          border-radius: 10px;
          padding: 10px; }
    body div.search-overlay div.bounding-search-bar {
      position: fixed;
      top: calc(100% - 74px);
      margin: 7px;
      width: calc(100% - 20px);
      border-radius: 10px;
      height: 60px;
      display: flex; }
      body div.search-overlay div.bounding-search-bar a.up,
      body div.search-overlay div.bounding-search-bar a.down {
        display: none; }
      body div.search-overlay div.bounding-search-bar a.exit-search {
        width: 60px;
        background: whitesmoke;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center; }
        body div.search-overlay div.bounding-search-bar a.exit-search img {
          width: 60%; }
  body div.search {
    background: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    display: flex; }
    body div.search a.search-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      align-self: center;
      display: flex;
      background: aliceblue;
      align-items: center;
      margin-top: 4px;
      margin-left: 7px;
      padding: 7px;
      border-radius: 10px;
      border: solid gray 3px;
      aspect-ratio: 1 / 1;
      width: fit-content; }
      body div.search a.search-icon img {
        height: 80%;
        aspect-ratio: 1 / 1; }
    body div.search div.fake-text-box {
      width: calc(100% - 60px);
      display: flex;
      align-items: center; }
      body div.search div.fake-text-box input[type="text"] {
        font-size: 30px;
        width: 100%;
        height: 70%;
        margin-bottom: 10px;
        margin-left: 70px;
        background: none;
        border: none;
        outline: none; }
  body p,
  body h1,
  body h2,
  body h3,
  body h4,
  body a {
    font-family: "arial"; }
  body *.android {
    display: none; }
  body div.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    color: #2f4f4f;
    background: antiquewhite;
    filter: blur(10px);
    background-size: cover;
    overflow: hidden; }
  body div.carousel {
    position: fixed;
    top: 80%;
    height: 20%;
    width: 100%; }
    body div.carousel a {
      position: absolute;
      top: 0;
      border: solid 3px black;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      left: 100%;
      transition: left 1s ease-in;
      font-size: 13px;
      background: #f2eb8c;
      color: blueviolet;
      display: flex;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      text-decoration: none; }
      body div.carousel a.show {
        left: 0%; }
      body div.carousel a.remove {
        left: -100%; }
      body div.carousel a:hover, body div.carousel a:focus {
        background: blueviolet;
        color: #f2eb8c; }
      body div.carousel a p {
        margin-bottom: 1px; }
      body div.carousel a h4 {
        margin: 0; }
    body div.carousel img {
      margin: 10px;
      height: calc(100% - 20px);
      border: solid 1px black;
      background: white; }
  body div.none {
    display: none; }
  body div.complete-container {
    position: fixed;
    z-index: 2;
    color: #666362;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%; }
  body div.page-contents.no-carousel {
    height: calc(100% - 80px); }
  body nav {
    overflow: visible;
    display: block;
    font-size: 25px;
    margin: 0px; }
    body nav a {
      padding-left: 10px;
      padding-right: 10px;
      height: 100%;
      text-decoration: none;
      color: #f2eb8c;
      margin: 0;
      background: blueviolet; }
      body nav a:hover, body nav a:focus {
        background: #f2eb8c;
        color: blueviolet; }
      body nav a.selected {
        background: #fefefa;
        color: blueviolet;
        border-right: 1px solid blueviolet; }
  body nav.desktop {
    display: none; }
    body nav.desktop a {
      vertical-align: middle; }
    body nav.desktop a.search-icon {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      body nav.desktop a.search-icon img {
        background: aliceblue;
        border-radius: 10px;
        padding: 10%;
        width: 60%;
        height: 60%; }
  body div.transparent-fullscreen-hide {
    position: fixed;
    background: black;
    left: 0;
    width: 100%;
    opacity: 40%;
    height: calc(100% - 80px);
    z-index: 250;
    display: none; }
    body div.transparent-fullscreen-hide.show {
      display: block; }
  body nav.mobile-foldable {
    visibility: hidden;
    position: fixed;
    left: 100%;
    width: Min(70%, 600px);
    height: calc(100% - 80px);
    z-index: 500;
    transition: left 0.5s ease-in, visibility 0.5s ease-in;
    background: #fefefa; }
    body nav.mobile-foldable > a:first-child {
      margin-top: 30px; }
    body nav.mobile-foldable a {
      display: block;
      font-size: 1.1em;
      height: auto;
      padding-left: auto;
      padding-right: auto;
      color: blueviolet;
      background: #fefefa;
      margin-top: 10px;
      padding: 10px;
      margin-left: 10px;
      border-radius: 20px;
      width: calc(100% - 20px - 20px - 2px); }
    body nav.mobile-foldable div.child-categories-mobile {
      margin-left: 80px;
      width: calc(100% - 90px - 20px); }
      body nav.mobile-foldable div.child-categories-mobile a {
        display: list-item;
        font-size: 1em; }
  body nav.mobile-foldable.show {
    left: 30%;
    visibility: visible; }
  body nav.mobile-shortcuts > a {
    display: flex;
    align-items: center;
    justify-content: center; }
    body nav.mobile-shortcuts > a.active {
      background: #fefefa;
      color: #dcdcf5; }
      body nav.mobile-shortcuts > a.active:focus {
        background: #f2eb8c; }
  body a.menu-expand {
    padding-bottom: 9px; }
    body a.menu-expand .open-menu-icon-hover {
      display: none; }
    body a.menu-expand:hover .open-menu-icon-hover, body a.menu-expand:focus .open-menu-icon-hover, body a.menu-expand.active .open-menu-icon-hover {
      display: block; }
    body a.menu-expand:hover .open-menu-icon, body a.menu-expand:focus .open-menu-icon, body a.menu-expand.active .open-menu-icon {
      display: none; }
  body nav > a.menu-expand > img {
    width: 40px;
    height: 40px; }
  body nav > a > img.index-image-menu {
    vertical-align: middle;
    width: 60px;
    height: 60px; }
  body nav > a > img.index-image-menu,
  body div.burguillos-logo-container > img {
    transition-property: transform;
    transition-duration: 2s;
    transition-delay: 2s; }
  body nav > a:hover > img.index-image-menu,
  body div.burguillos-logo-container.active > img {
    transform: rotate(-1.5707963268rad); }
  body div.search-in-page {
    display: none;
    position: fixed;
    top: calc(100% - 80px - 60px);
    height: 60px;
    width: 100%;
    align-items: center;
    background: blueviolet;
    z-index: 3; }
    body div.search-in-page a.up,
    body div.search-in-page a.down {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 28px);
      align-self: center;
      margin: 7px;
      display: flex;
      background: aliceblue;
      align-items: center;
      padding: 7px;
      border-radius: 10px;
      border: solid gray 1px;
      aspect-ratio: 1/1; }
      body div.search-in-page a.up img,
      body div.search-in-page a.down img {
        height: 80%; }
    body div.search-in-page span {
      color: whitesmoke;
      font-size: 25px; }
    body div.search-in-page.active {
      display: flex; }
  body nav.mobile-shortcuts {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background: blueviolet;
    height: 80px;
    justify-content: start;
    flex-direction: row;
    top: calc(100% - 80px); }
    body nav.mobile-shortcuts a {
      height: 100%;
      width: 80px;
      padding-left: 0;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0; }
    body nav.mobile-shortcuts a.go-to-index {
      position: absolute;
      left: 0;
      top: 0; }
    body nav.mobile-shortcuts div.search {
      position: absolute;
      left: 80px;
      top: 10%;
      width: Min(calc(100% - 120px), 500px);
      height: 80%;
      border-radius: 10px; }
  body div.page-contents {
    background: #fefefa;
    position: fixed;
    height: calc(80% - 80px);
    width: 100%;
    overflow-y: scroll; }
    body div.page-contents div.child-categories-mobile a {
      padding-left: 2.5rem; }
    body div.page-contents img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    body div.page-contents table {
      color: blueviolet;
      background: #f2eb8c;
      border: 3px solid blueviolet;
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed; }
      body div.page-contents table tr:hover {
        background: blueviolet;
        color: #f2eb8c; }
        body div.page-contents table tr:hover th,
        body div.page-contents table tr:hover td {
          border: 3px solid #f2eb8c; }
      body div.page-contents table td,
      body div.page-contents table th {
        font-size: 12px; }
    body div.page-contents th,
    body div.page-contents td {
      border: 3px solid blueviolet;
      border-collapse: collapse;
      padding-right: 10px;
      margin: 0; }
    body div.page-contents div.description {
      word-wrap: break-word;
      padding: 1%;
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 1%; }
      body div.page-contents div.description input {
        display: block; }
      body div.page-contents div.description div.suscribirse-rss img {
        max-height: 300px; }
      body div.page-contents div.description div.articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.7rem; }
        body div.page-contents div.description div.articles a {
          width: 45%;
          margin-left: 5%; }
          body div.page-contents div.description div.articles a:nth-child(2n + 1) {
            margin-left: 0%; }
        body div.page-contents div.description div.articles div.image-container {
          margin-left: 2.5%;
          margin-top: 10px;
          height: 95%;
          width: 95%;
          display: flex;
          min-height: 130px;
          justify-content: center;
          align-items: center; }
          body div.page-contents div.description div.articles div.image-container img {
            background: white;
            max-height: 100%;
            max-width: 100%;
            border: solid 1px black; }
        body div.page-contents div.description div.articles a {
          min-height: 90%;
          display: block;
          text-decoration: none;
          text-overflow: ellipsis;
          margin-bottom: 30px; }
          body div.page-contents div.description div.articles a:focus article, body div.page-contents div.description div.articles a:hover article {
            background: blueviolet;
            color: #f2eb8c; }
          body div.page-contents div.description div.articles a article {
            word-wrap: break-word;
            width: 90%;
            height: 90%;
            padding: 5%;
            padding-top: 1%;
            color: blueviolet;
            box-shadow: 8px 8px 1px 0px #8ddfd6;
            border: 3px solid black; }
            body div.page-contents div.description div.articles a article p,
            body div.page-contents div.description div.articles a article h4,
            body div.page-contents div.description div.articles a article h3,
            body div.page-contents div.description div.articles a article h2 {
              margin: 0px; }
            body div.page-contents div.description div.articles a article div.article-up-part {
              height: 12em; }
            body div.page-contents div.description div.articles a article div.article-down-part {
              margin-top: 2em;
              height: 9em;
              display: flex;
              align-items: end;
              padding-bottom: 2em; }
            body div.page-contents div.description div.articles a article:hover {
              background: blueviolet;
              color: #f2eb8c; }
            body div.page-contents div.description div.articles a article p.date {
              text-align: right; }
            body div.page-contents div.description div.articles a article p.author {
              text-align: right; }
      body div.page-contents div.description a.suscribe-category-rss {
        background: blueviolet;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        display: inline-block; }
        body div.page-contents div.description a.suscribe-category-rss img {
          width: 40px;
          height: 40px; }
    body div.page-contents div.open-browser-container.android {
      display: none; }
    body div.page-contents h1 {
      text-align: center; }
    body div.page-contents div.footer p,
    body div.page-contents div.footer h1,
    body div.page-contents div.footer h2,
    body div.page-contents div.footer h3,
    body div.page-contents div.footer h4,
    body div.page-contents div.footer a {
      font-size: initial; }
    body div.page-contents div.footer a.suscribe-category-rss {
      padding: 7px; }
    body div.page-contents div.footer a.suscribe-category-rss,
    body div.page-contents div.footer a.suscribe-category-rss > img {
      width: 20px;
      height: 20px; }

div.easter-egg {
  display: flex;
  justify-content: center; }

div.burguillos-logo-container.active {
  filter: invert(1); }

div.burguillos-logo-container {
  width: 120px; }

div.search-overlay div.search {
  width: calc(100% - 60px);
  height: 80px;
  margin-left: 0px;
  margin-right: 0px; }

div.search-overlay.active {
  display: flex; }

div.search-overlay.default {
  display: flex; }
  div.search-overlay.default div.search {
    width: 100%; }
  div.search-overlay.default div.fake-text-box {
    width: 100%; }

@media (min-width: 450px) {
  body div.page-contents table th,
  body div.page-contents table td {
    font-size: 20px; } }

@media (min-width: 768px) {
  body converse-muc-sidebar {
    display: flex !important; }
    body converse-muc-sidebar.hidden {
      display: none !important; }
  body div.converse-container {
    margin-left: 15px; } }

@media (min-width: 694px) {
  body div.carousel a {
    font-size: 20px; }
  body div.carousel h3 {
    font-size: 25px; }
  body div.page-contents div.description div.articles a {
    width: 45%;
    margin-left: 5%; }
    body div.page-contents div.description div.articles a:nth-child(2n + 1) {
      margin-left: 0%; }
  body div.page-contents img {
    max-width: 694px; } }

@media (min-width: 700px) {
  body nav.mobile-foldable {
    left: -100%; }
  body nav.mobile-foldable.show {
    left: 0; } }

@media (min-width: 1333px) {
  body div.page-contents div.description div.articles a {
    width: 30%;
    margin-left: 3%; }
    body div.page-contents div.description div.articles a:nth-child(2n + 1) {
      margin-left: 3%; }
    body div.page-contents div.description div.articles a:nth-child(3n + 1) {
      margin-left: 0%; } }

@media (min-width: 848px) {
  body div.page-contents div.description div.articles a {
    width: 30%;
    margin-left: 3%; }
    body div.page-contents div.description div.articles a:nth-child(2n + 1) {
      margin-left: 3%; }
    body div.page-contents div.description div.articles a:nth-child(3n + 1) {
      margin-left: 0%; } }

@media (min-width: 1333px) {
  body div.page-contents div.description div.articles a {
    width: 22%;
    margin-left: 3%; }
    body div.page-contents div.description div.articles a:nth-child(3n + 1) {
      margin-left: 3%; }
    body div.page-contents div.description div.articles a:nth-child(4n + 1) {
      margin-left: 0%; } }

@media (max-width: 200px) {
  body {
    font-size: 20px; } }

@media (max-height: 400px) {
  body div.carousel {
    height: 120px;
    top: calc(100% - 120px); }
  body div.page-contents {
    height: calc(100% - 60px - 120px); } }
